  body {
    background: lightblue;
  }
  
  #container {
    display: grid;
    height: 960px;
    width: 960px;
  }
  
  .box {
    width: 100%;
    height: auto;
  }

  /* Input Slider */
  .slideContainer {
    width: 100%;
  }
  
  body {
    position: relative;
    width: 100%;
    display: block;
  }

  body > *  {
    margin: auto;
    width: 960px;
    display: block;
    overflow: auto;
  }

  body > script {
    display: none
  }
  
  html {
    text-align: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }