/* .grid {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: auto auto auto;
    background-color: #2196f3;
    padding: 10px;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center; 
} */



/* #container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin:auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }
  .box {
    border: 1px rgba(255, 0, 0, 0.884) solid;
    background-color: rgba(255, 255, 255, 1);
  } */

  body {
    background: lightblue;
  }
  
  #container {
    display: grid;
    height: 960px;
    width: 960px;
  }
  
  .box {
    width: 100%;
    height: auto;
    border: solid black;
    border-width: 1px;
    /* background-color: white; */
  }

  /* Input Slider */
  .slideContainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }